body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    color: red;
}

.paragraf {
    color: green;
}

#paragraf2 {
    color: blue;
    margin-top: 30px;
}
